@model Biblioteca.Models.Ejemplar

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>
@if (@ViewBag.ErrorMessage != null)
{
    <h3 style="color:red">
        @ViewBag.ErrorMessage
    </h3>
}

@if (@ViewBag.Info != null)
{
    <h3 style="color:darkblue">
        @ViewBag.Info
    </h3>
}

<h3>¿Está seguro de que quiere eliminar el ejemplar?</h3>
<div>
    <div class="card">
        <div class="card-header text-black">
            Detalles del ejemplar
        </div>
        <div class="card-body">

            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Libro.Nombre)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Libro.Nombre)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.NumeroCopias)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.NumeroCopias)
                </dd>

            </dl>
        </div>
    </div>

    <hr />

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-outline-warning" />
            @Html.ActionLink("Regresar", "Index", new { }, new { @class = "btn btn-outline-danger" })
        </div>
    }
</div>
